my-safe-directory
flask/lib/python2.7/*
nohup_huhuladb*.out
build/contracts/
keystore/
.utc-acct.json
.idea/*
.conf
logs/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
spot_api.pyc
spot_db.pyc
rest/spot_api.pyc
rest/spot_msk.pyc
rest/spot_db.pyc
rest/spot_kml.pyc
rest/spot_billing.pyc
huhuladb00/
huhuladb01/
huhuladb02/
certs
target
flask
testusers.txt
nohup.out
errors.log
cockroach-data/
debug.log
rest/maps/ag_*
.env
test_web2py/
flaskexit/
flow-typed/
node_modules/
truffle-config.js
truffle.js
node0_nohup.out
node3/
node3_nohup.out
node4/
node4_nohup.out
