my-safe-directory
build/
keystore/
.utc-acct.json
.idea/*
flask/*
.conf
logs/
debug.log
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
spot_api.pyc
spot_db.pyc
rest/spot_api.pyc
rest/spot_msk.pyc
rest/spot_db.pyc
rest/spot_kml.pyc
rest/spot_billing.pyc
certs
target
testusers.txt
errors.log
rest/maps/ag_*
.env
test_web2py/
flaskexit/
flow-typed/
node_modules/
truffle-config.js
truffle.js
**/certs
**/my-safe-directory
