my-safe-directory
nohup_huhuladb*.out
huhuladb00/
huhuladb01/
huhuladb02/
certs
flask
testusers.txt
nohup.out
errors.log
cockroach-data/
debug.log
spot_db.pyc
rest/maps/ag_*
.env
test_web2py/
build/
flaskexit/
flow-typed/
node_modules/
scripts/
truffle-config.js
truffle.js
node0_nohup.out
node3/
node3_nohup.out
node4/
node4_nohup.out
