<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


<appender name="FILEHUHULA" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="File" value="./logs/huhula_cli.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %c %p [%t] %m%n"/>
        </layout>
</appender>

<appender name="SMTP" class="org.apache.log4j.net.SMTPAppender">
        <param name="Threshold" value="WARN"/>
        <param name="To" value="ivasilchikov@huhula.com"/>
        <param name="From" value="ivasilchikov@huhula.com"/>
        <param name="Subject" value="Error Protobuf To Parquet, LAX1 PROD"/>
        <param name="SMTPHost" value="us8-admin-dhcp01"/>
        <param name="BufferSize" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n"/>
        </layout>
</appender>

<appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
  <param name="ConversionPattern"
    value="%d{yyyy-MM-dd HH:mm:ss,SSS} %c %p [%t] %m%n" />
    </layout>
</appender>

<category name="org.web3j.protocol.http.HttpService"> <priority value="DEBUG" /> </category>
<category name="com.huhula.credentials.Settings"> <priority value="DEBUG" /> </category>

<root>
  <level value="DEBUG" />
  <appender-ref ref="FILEHUHULA" />
  <appender-ref ref="console" />
</root>

</log4j:configuration>
